// .menu_left {
//   position: sticky;
//   top: 0px;
//   display: block;
//   height: 100vh;
//   z-index: 10;
// }

// .menu_right {
//   height: 100vh;
// }

.header.ant-layout-header {
  background-color: #0e1217;
  padding: 10px;
  height: fit-content;
}

.content.ant-layout-content {
  background-color: #0e1217;
}