.menu_left {
  position: sticky;
  top: 0px;
  display: block;
  height: 100vh;
  z-index: 10;
}
.menu_right {
  height: 100vh;
}
.header {
  position: sticky;
  top: 0px;
  padding: 0 20px;
  display: flex;
  flex: 0 1 auto;
  background-color: #0e1217;
}
.sider {
  padding: 0;
  height: 100vh;
}
.content {
  padding: 2rem 2rem;
  color: white;
  flex: 1 1 auto;
  background-color: #0e1217;
}
.footer {
  padding: 0;
  background-color: #0e1217;
  flex: 0 1 1rem;
}
@media (max-width: 768px) {
  .header {
    padding: 0 10px;
  }
  .content {
    padding: 1rem 1rem;
  }
}
